#
# Copyright (c) 2023-2024 Red Hat, Inc.
# This program and the accompanying materials are made
# available under the terms of the Eclipse Public License 2.0
# which is available at https://www.eclipse.org/legal/epl-2.0/
#
# SPDX-License-Identifier: EPL-2.0
#

name: image-publish

on:
  push:
    branches: 
      - main
    tags:
      - '7.*.*'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Set variables
        run: |
          BRANCH_NAME=${{ github.ref }}
          echo "BRANCH_NAME=${BRANCH_NAME##*/}" >> $GITHUB_ENV
      - name: Checkout
        uses: actions/checkout@v4
        #with:
        #  token: ${{ secrets.CHE_INCUBATOR_BOT_TOKEN }}
      - name: Login to quay.io
        uses: docker/login-action@v3
        with:
          registry: quay.io
          username: ${{ secrets.QUAY_USERNAME }}
          password: ${{ secrets.QUAY_PASSWORD }}
      - name: Docker Build and Push
        run: |
          SHORT_SHA1=$(git rev-parse --short=7 HEAD)
          if [[ ${{ env.BRANCH_NAME }} == main ]]; then
            docker build -f build/dockerfiles/Dockerfile --push -t quay.io/che-incubator/che-idea-dev-server:next .
          elif [[ ${{ env.BRANCH_NAME }} =~ ^7\.[0-9]+\.[0-9]+$ ]]; then
            docker build -f build/dockerfiles/Dockerfile --push -t quay.io/che-incubator/che-idea-dev-server:${{ env.BRANCH_NAME }} -t quay.io/che-incubator/che-idea-dev-server:latest . 
          fi
